@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #060910;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

body {
  background: radial-gradient(
    circle at bottom center,
    #D96A32 0%,
    #A34722 20%,
    #4A1D16 40%,
    #0A1220 75%,
    #060910 100%
  );
  background-attachment: scroll;
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
